/* desktop Small Code */
@media screen and (max-width: 1400px){
	.list_folting_nav li h3 {padding-top: 15px !important; font-size: 20px;}
	.short_hr {margin-top: 30px;margin-bottom: 20px;}
	.ora_cel h3 {margin-top: 40px !important;}
	.list_folting_nav {margin-top: 2vh;}
	.user_container span,.bot_container span{font-size: 14px;}
	.support_img{margin-top: 35px;}
}
/* Tablet Code */
@media screen and (max-width: 900px){
	.logo_app {font-size: 60px; width: 40px; padding-top: 6vh; padding-left: 10%;}
	.list_folting_nav { margin-left: 10%; margin-top: 4vh;}
	.list_folting_nav li h3 {padding-top: 20px !important;font-size: 18px;}
	.short_hr {margin-top: 25px;}
	.raposteaza_btn {margin-left: 10%; top: 0;}
	.user_container {right: 5%;}
	.support_img{display: none;}
}

/* Mobile Code */
@media screen and (max-width: 680px){
	#msg_area {height: 34px !important;width: 66% !important; padding-left: 22px;}
	.fixed_menu_button{display: block;}
	#fixed_input_box_send_msg_cont {min-height: 100px;}
}